---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Shared",
    titleBottom: "Hosting",
    img: c1,
    alt: "Shared Hosting",
    link: "/shared-hosting",
  },
  {
    index: 2,
    titleTop: "WordPress",
    titleBottom: "Hosting",
    img: c2,
    alt: "WordPress Hosting",
    link: "/wordpress",
  },
  {
    index: 3,
    titleTop: "Cloud",
    titleBottom: "Hosting",
    img: c3,
    alt: "Cloud Hosting",
    link: "/cloud-hosting",
  },
  {
    index: 1,
    titleTop: "VPS",
    titleBottom: "Hosting",
    img: c4,
    alt: "VPS Hosting",
    link: "/vps",
  },
  {
    index: 2,
    titleTop: "Dedicated",
    titleBottom: "Servers",
    img: c5,
    alt: "Dedicated Servers",
    link: "/dedicated-servers",
  },
  {
    index: 3,
    titleTop: "Managed",
    titleBottom: "Hosting",
    img: c6,
    alt: "Managed Hosting",
    link: "/managed-hosting",
  },
];

const description =
  "Premium Hosting delivers enterprise-grade hosting solutions engineered for excellence. Our comprehensive portfolio includes";
---

<Section>
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
